config.h
config.log
config.status
confdefs.h
.deps/
.dirstamp
.libs/
stamp*
libtool
ltmain.sh
Makefile
autom4te.cache/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
version.m4
depcomp
install-sh
missing
test-driver
test-suite.log
plugin.mk

README
INSTALL

wasora

Makefile.am
src/.deps/
src/.dirstamp
src/.libs/
src/Makefile
src/Makefile.am
src/Makefile.in
src/*.o
src/*.lo
src/*.la
src/thirdparty/*.o
src/thirdparty/*.lo
src/thirdparty/*.la
src/version-vcs.h
src/version-conf.h
src/version.h
src/wasora/

*.tar.gz
nbproject
gsl-*
petscslepc.mak

fino
fino.exe
fino.so

fino-v*
